<header class="header site-header">
    <div class="container display-flex">
        <div class="header-image">
            <h2 class="site-logo">Anvar's | blog</h2>
        </div>
        <nav id="navbor" class="navbor res-navbor">
            <ul class="navbor-ul display-flex">
                <li class="navbor-li">
                    <a href="/" class="navbor-li_link">Home</a>
                </li>
                <li class="navbor-li">
                    <a href="/about" class="navbor-li_link">About</a>
                </li>
                <li class="navbor-li">
                    <a href="/project" class="navbor-li_link">Project</a>
                </li>
                <li class="navbor-li">
                    <a href="/skill" class="navbor-li_link">Skill</a>
                </li>
                <li class="navbor-li">
                    <a href="/contact" class="navbor-li_link">Contact</a>
                </li>
            </ul>
        </nav>
        <img id="mav-icon" src="/img/menu1.png" alt="menu-icons" class="menu-icon" width="35">
    </div>
</header>