<!-- <header class="header site-header">
    <div class="container display-flex">
        <div class="header-image">
            <h2 class="site-logo">Anvar's | blog</h2>
        </div>
        <nav id="navbor" class="navbor res-navbor">
            <ul class="navbor-ul display-flex">
                <li class="navbor-li">
                    <a href="/" class="navbor-li_link">Home</a>
                </li>
                <li class="navbor-li">
                    <a href="/about" class="navbor-li_link">About</a>
                </li>
                <li class="navbor-li">
                    <a href="/project" class="navbor-li_link">Project</a>
                </li>
                <li class="navbor-li">
                    <a href="/skill" class="navbor-li_link">Skill</a>
                </li>
                <li class="navbor-li">
                    <a href="/contact" class="navbor-li_link">Contact</a>
                </li>
            </ul>
        </nav>
        <img id="nav-icon" src="/img/menu1.png" alt="menu-icons" class="menu-icon" width="35">
    </div>
</header> -->
<nav class="container navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">Anvar's | blog</a>
    <img src="/img/menu1.png" class="navbar-toggler menu-icon  menu-icon" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" alt="menu-icon"/>
    <div class="nav-flex collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/project">Project</a>
            <a class="nav-item nav-link" href="/blog">Blog</a>
            <a class="nav-item nav-link" href="/skill">skill</a>
            <a class="nav-item nav-link " href="/contact">contact</a>
        </div>
    </div>
  </nav>