<%- include("layouts/main") %> 
<%- include("layouts/navbor") %>
<section class="site-about">
    <div class="container">
      <h2 style="text-align: center; margin: 20px 0;padding: 50px 0; border-bottom: 1px solid #e8ecf0;">About Me</h2>
        <div class="card mb-3 border-0">
            <img src="https://picsum.photos/500/200?random=1" class="card-img-top" alt="card images">
            <div class="card-body">
              <h5 class="card-title">My About</h5>
              <p class="card-text">Mening yoshim 21 da Men Samarqandda tug'lganman Dasturlash bilan 1 yildan beri o'rganib kelaman hozircha hech qanaqa kompaniyalarda ishlaganim yuq</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
          <div class="card mb-3 border-0">
            <img src="https://picsum.photos/500/200?random=4" class="card-img-top" alt="card images">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
    </div>
</section>