<%- include("layouts/main") %> 
<%- include("layouts/navbor") %>

<section class="site-blog">
    <div class="container">
      <h2 style="text-align: center; margin: 20px 0;padding: 50px 0; border-bottom: 1px solid #e8ecf0;">Blogs</h2>

        <h2>site blog</h2>
    </div>
</section>