<%- include("layouts/main") %> 
<%- include("layouts/navbor") %>
    <section class="site-main">
        <div class="container">
            <div class="site-home">
                <div class="site-home_page display-flex-home">
                    <div>
                        <img src="/img/portfolio.jpg" class="site-home_image" width="150" alt="portfolio-image">
                    </div>
                    <div class="site-res-title">
                        <h2 class="site-home_title">Anvar Abdurashidov</h2>
                        <h5 class="site-home_h5">Full-stack developer</h5>
                        <ul class="my-sociol_blogs">
                            <a href="https://github.com/anvar571" target="_blank">
                                <img src="/img/github (1).png"  alt="social_icons" width="35" class="social_icons" />
                            </a>
                            <a href="https://www.linkedin.com/in/anvar-abdurashidov-a46a46213/" target="_blank">
                                <img src="/img/linkedin.png"  alt="social_icons" width="35" class="social_icons" />
                            </a>
                            <a href="https://t.me/anvardeveloper" target="_blank">
                                <img src="/img/telegram.png" alt="social_icons" width="35" class="social_icons" />
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="site-discription">
                    <h5 class="site-home_description">I write articles about myself and my journey and about programming</h5>
                    <div class="site-home-btns">
                        <a href="/blogs" class="site-home_read">Read Blog</a>
                        <a href="/about" class="site-home_about about-me">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </section>