<%- include("layouts/main") %> 
<%- include("layouts/navbor") %>

<section class="site-project">
    <div class="container">
        <h2 style="text-align: center; margin: 20px 0;padding: 50px 0; border-bottom: 1px solid #e8ecf0;">Project</h2>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4 md-2">
                <div class="card border-0">
                    <img src="https://picsum.photos/300/300?random=1">
                    <div class="card-body">
                        <h5>Blog site project</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 md-2">
                <div class="card border-0">
                    <img src="https://picsum.photos/300/300?random=2">
                    <div class="card-body">
                        <h5>Real time Chat</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 md-2">
                <div class="card border-0">
                    <img src="https://picsum.photos/300/300?random=4">
                    <div class="card-body">
                        <h5>Calculator</h5>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-4 md-2">
                <div class="card border-0">
                    <img src="https://picsum.photos/300/300?random=7">
                    <div class="card-body">
                        <h5>Js site</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 md-2">
                <div class="card border-0">
                    <img src="https://picsum.photos/300/300?random=8">
                    <div class="card-body">
                        <h5>Social media App</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 md-2">
                <div class="card border-0">
                    <img src="https://picsum.photos/300/300?random=9">
                    <div class="card-body">
                        <h5>AI project</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>